@import url(https://fonts.googleapis.com/css?family=Bad+Script);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bad Script';
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
#Happy h1
{
    display: flex;
    font-size: 8vw;
    padding-bottom: 10px;
}
#Happy h1 span
{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
#Happy h2
{
    text-align: center;
    font-family: Georgia;
    padding-top: 10px;
    color: #fff;
    filter: hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff,
    0 0 200px #00b3ff,
    0 0 300px #00b3ff,
    0 0 400px #00b3ff;
}
@keyframes animate
{
    0%{
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    30%, 70%
    {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}
.btn{
    font-family: Courier New;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid white;
	color: rgb(0, 255, 242);
	outline: none;
	transition: .6s ease;
    padding-left: 10px;
    padding-right: 10px;

}